@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
<div>
    <div>
        <h3>Famous Topping : </h3>
        <label>@ViewBag.MaxPercentageToppingName.ToppingName</label>
        <label>@ViewBag.MaxPercentageToppingName.Topping_percentage</label>
    </div>
    <div>
        <h3>Least Rated Topping : </h3>
        <label>@ViewBag.MinPercentageToppingName.ToppingName</label>
        <label>@ViewBag.MinPercentageToppingName.Topping_percentage</label>
    </div>
</div>



