@model List<PizzaOrdering_Mvc.DTO.OrderViewModel>
@{
    var total_orders = 0;
    foreach (var or in Model)
    {
        total_orders += or.no_of_times_ordered;
    }
}

<p>TOTAL PIZZAS ORDERED : @total_orders</p>
<table class="table">
    <thead>
        <tr>
            <th>Pizza Size</th>
            <th>Pizza Base</th>
            <th>Toppings</th>
            <th>Times ordered</th>
            <th>Edit Pizza</th>
            <th>Confirm Order</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pizza in Model)
        {
            <tr>
                <td>@pizza.PizzaSize</td>
                <td>@pizza.PizzaBase</td>
                <td>
                    <ul>
                        @foreach (var topping in pizza.PizzaToppings)
                        {
                            <li>@topping.ToppingName</li>
                        }
                    </ul>
                </td>
                <td>@pizza.no_of_times_ordered</td>
                <td>
                    <form asp-action="EditOrders" method="get">
                        <input type="hidden" name="pizzaId" value="@pizza.PizzaId" />
                        <button type="submit">Edit</button>
                    </form>
                </td>
                <td>
                    <form asp-action="ConfirmOrders" method="post">
                        <input type="hidden" name="pizzaId" value="@pizza.PizzaId" />
                        <button type="submit">Confirm</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>



